body {
    background-color: black;
    font-family: arial;
    color: white;
}
h1{color:grey;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;}
.maindiv{
    background-color: white;
    color: black;
    text-align: center;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
}